server {
    listen 80;
    listen 443 ssl;


    server_name localhost;


    ssl_certificate /etc/ssl/certs/express_app/express-app.crt;
    ssl_certificate_key /etc/ssl/certs/express_app/express-app.key;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;


    location / {
        proxy_pass http://127.0.0.1:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    error_log /var/log/nginx/express-app-error.log;
    access_log /var/log/nginx/express-app-access.log;
}
